div.input-field {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-top: 15px;
}

div.input-field > label {
  font-size: 14px;
  font-weight: 600;
}

div.input-field > label.file-input-label {
  padding: 8px 0;
  box-shadow: var(--shadow);
  border-radius: 32px;
  background-color: var(--accent-bg);
  color: #fff;
  text-align: center;
}

div.input-field > input {
  padding: 10px 16px;
  border: 2px solid var(--cta-bg);
  border-radius: 32px;
}

div.input-field > input.file-input {
  display: none;
}

div.input-field > input:focus {
  outline: solid 2px var(--accent-bg);
}

div.input-field::after {
  content: attr(data-error);
  color: var(--cta-bg);
}

@media screen and (min-width: 1024px) {
  div.input-field > label.file-input-label {
    cursor: pointer;
  }
}
