@font-face {
  src: url(./assets/fonts/Raleway-Regular.ttf) format(truetype);
  font-family: "RalewayRegular";
}

@font-face {
  src: url(./assets/fonts/Raleway-Light.ttf) format(truetype);
  font-family: "RalewayLight";
}

:root {
  --cta-bg: #de8667;
  --accent-bg: #efb467;
  --headline: #322d38;
  --shadow: 0px 0px 8px 0px #00000026;
}

#root {
  max-width: 100%;
  min-height: 100svh;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "RalewayRegular";
}

p {
  margin: 0;
}

h1 {
  font-family: "RalewayLight";
  font-size: 98px;
}

h2 {
  font-family: "RalewayLight";
  font-size: 61px;
}

h3 {
  font-family: "RalewayRegular";
  font-size: 49px;
}

h4 {
  font-family: "RalewayRegular";
  font-size: 35px;
}

h5 {
  font-family: "RalewayRegular";
  font-size: 24px;
}

.dialog * {
  font-family: "RalewayRegular" !important;
}
