nav {
  width: 97%;
  margin: 10px auto;
  box-sizing: border-box;
  box-shadow: var(--shadow);
  background-color: #fff;
}

nav > div:first-child > p {
  font-weight: 600;
}

nav > div:first-child > p > span {
  position: relative;
}

nav > div:first-child > p > span::after {
  position: absolute;
  top: -10px;
  content: url(../assets/icons/logo-small.png);
  width: 26px;
  height: 26px;
}

nav > div:first-child > p > span {
  color: var(--cta-bg);
}

nav > div:first-child > div,
nav > div:nth-child(2) > div {
  position: relative;
  width: 16px;
}

nav > div:first-child > div > span,
nav > div:nth-child(2) > div > span {
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: var(--cta-bg);
  cursor: pointer;
}

nav > div:first-child > div > span:first-child,
nav > div:nth-child(2) > div > span:first-child {
  transform-origin: center;
  rotate: 90deg;
}

@media screen and (max-width: 480px) {
  nav {
    position: absolute;
    top: 0;
    left: 1.5%;
    justify-content: space-between;
    padding: 30px 35px;
  }

  nav > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
  }

  nav > div:nth-of-type(2) {
    display: none;
  }

  nav.opened > div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    width: 100%;
    padding-top: 40px;
  }

  nav > div:nth-child(2) > span {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  nav > div:nth-child(2) > span::after {
    content: url(../assets/icons/arrow-down.png);
    width: 16px;
    height: 16px;
    rotate: z -90deg;
  }

  nav > div:nth-child(2) > div:first-of-type {
    display: flex;
    justify-content: start;
    align-items: center;
    order: -1;
    column-gap: 20px;
    width: 100%;
  }

  nav > div:nth-child(2) > div:first-of-type::after {
    content: attr(data-user-fullname);
  }

  nav > div:nth-child(2) > div:first-of-type > img {
    width: 40px;
    object-fit: cover;
  }

  nav > div:nth-child(2) > div:last-of-type {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;
  }

  nav > div:first-child > p {
    cursor: pointer;
  }

  nav > div:first-child > button {
    display: none !important;
  }

  nav > div:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
  }

  nav > div:nth-of-type(2) > span {
    color: var(--cta-bg);
    cursor: pointer;
  }

  nav > div:nth-of-type(2) > div:first-of-type {
    width: fit-content;
  }

  nav > div:nth-of-type(2) > div:first-of-type > img {
    width: 40px;
    object-fit: cover;
    box-shadow: var(--shadow);
    border-radius: 50%;
    cursor: pointer;
  }

  nav > div:first-child > div {
    display: none;
  }
}
